html {
  background-color: #c9c9c9;
  background-size: cover;
  }

body {
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 850px;
  height: auto;
  background-color: #FBF1F1;
  border-radius: 8px;
  font-family: serif;
  font-style: normal;
}

/*#page {
  margin: 0px auto;
  padding: 10px;
>>>>>>> a9bf8f5b6d92532704a7e5c94450ae053730fc15
  width: 850px;
  height: auto;
  background-color: #FBF1F1;
  border-radius: 8px;
  font-family: serif;
  font-style: normal;
}*/

#time  {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

/*img {
	width:100%;
}*/

#wrapper {
	position: relative;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0; */
	overflow:hidden;
}

#teknik {
 	position: relative;
 /*	top: 0;
 	bottom: 0;
 	right: 0;
 	left: 0; */
 	overflow:hidden;
}

#game {
 	position: relative;
 	/* top: 0;
 	bottom: 0;
 	right: 0;
 	left: 0; */
 	overflow:hidden;
 }

.navbar {
/*<<<<<<< HEAD*/
  background-color:#d5d5d5;
  padding-top: 10px;
  padding-bottom: 10px;
	width: 100%;
/*=======*/
  background-color:#d4d4d4;
	width: 100%;
	margin: auto;
/*>>>>>>> a9bf8f5b6d92532704a7e5c94450ae053730fc15*/
	text-align: center;
	/* height: 30px; */
}

.navbar a {
  padding: 1em;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#output {
  width:100%;
  height:100%;
}


@media (max-width:850px){

#page {
  width: 100%;
  /* border-radius: 0px; */ /* Död kod */
  /* margin:0px; */
  height:100%;
}


#output {
  font-size:2.5vw;
}

.navbar a {
  padding: 1em;
  font-size: 3vw;
}

h1 {
  font-size: 5vw;
}
#world {
  text-align: center;
}
}
