html {
  background-color: #c9c9c9;
  background-size: cover;
  }

#page {
  margin: 0px auto;
  padding: 10px;
  width: 850px;
  height: auto;
  background-color: #FBF1F1;
  border-radius: 10px;
  font-family: serif;
  font-style: normal;
}

#time {
  text-align: right;
}

img {
	width:100%;
}

#wrapper {
	position: relative;
	top:0;
	bottom:0;
	right:0;
	left:0;
	overflow:hidden;
}

#teknik {
 	position: relative;
 	top:0;
 	bottom:0;
 	right:0;
 	left:0;
 	overflow:hidden;
}

#game {
 	position: relative;
 	top:0;
 	bottom:0;
 	right:0;
 	left:0;
 	overflow:hidden;
 }

.navbar {
  background-color:#FBF1F1;
	width: 100%;
	margin: auto;
	text-align: center;
	height: 30px;
}

.navbar a {
  padding: 1em;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#output {
  width:100%;
  height:100%;
}


@media (max-width:850px){

#page {
  width: 100%;
  border-radius: 0px;
  margin:0px;
  height:100%;
}


#output {
  font-size:2.5vw;
}

.navbar a {
  padding: 1em;
  font-size: 3vw;
}

h1 {
  font-size: 5vw;
}

}
